<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sap.membership.trade.mapper.DepartmentConsumptionDOMapper">
  <resultMap id="BaseResultMap" type="com.sap.membership.trade.model.DepartmentConsumptionDO">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="rid" jdbcType="VARCHAR" property="rid" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="consumption_style" jdbcType="VARCHAR" property="consumptionStyle" />
    <result column="consumption" jdbcType="DECIMAL" property="consumption" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <insert id="insert" parameterType="com.sap.membership.trade.model.DepartmentConsumptionDO">
    insert into department_consumption_tbl (name, cid, rid, 
      department_name, consumption_style, consumption, 
      comment)
    values (#{name,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, #{rid,jdbcType=VARCHAR}, 
      #{departmentName,jdbcType=VARCHAR}, #{consumptionStyle,jdbcType=VARCHAR}, #{consumption,jdbcType=DECIMAL}, 
      #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sap.membership.trade.model.DepartmentConsumptionDO">
    insert into department_consumption_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="rid != null">
        rid,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
      <if test="consumptionStyle != null">
        consumption_style,
      </if>
      <if test="consumption != null">
        consumption,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="consumptionStyle != null">
        #{consumptionStyle,jdbcType=VARCHAR},
      </if>
      <if test="consumption != null">
        #{consumption,jdbcType=DECIMAL},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>