<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sap.membership.trade.mapper.GiftInfoDOMapper">
  <resultMap id="BaseResultMap" type="com.sap.membership.trade.model.GiftInfoDO">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sort_num" jdbcType="INTEGER" property="sortNum" />
    <result column="base_id" jdbcType="INTEGER" property="baseId" />
    <result column="second_id" jdbcType="INTEGER" property="secondId" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="pic1" jdbcType="VARCHAR" property="pic1" />
    <result column="num" jdbcType="INTEGER" property="num" />
  </resultMap>
  <insert id="insert" parameterType="com.sap.membership.trade.model.GiftInfoDO">
    insert into gift_info_tbl (id, title, sort_num, 
      base_id, second_id, price, 
      pic1, num)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{sortNum,jdbcType=INTEGER}, 
      #{baseId,jdbcType=INTEGER}, #{secondId,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, 
      #{pic1,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sap.membership.trade.model.GiftInfoDO">
    insert into gift_info_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="sortNum != null">
        sort_num,
      </if>
      <if test="baseId != null">
        base_id,
      </if>
      <if test="secondId != null">
        second_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="pic1 != null">
        pic1,
      </if>
      <if test="num != null">
        num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sortNum != null">
        #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="baseId != null">
        #{baseId,jdbcType=INTEGER},
      </if>
      <if test="secondId != null">
        #{secondId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="pic1 != null">
        #{pic1,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>